body { 
  padding: 10% 30% 10% 2 0%;
  background-color: #92a646 ;
  border-style: inset;
  
}

input,select{
  padding: 4px;
  width: 240px;
  max-width: 100%;
  font-size:1.2em;
  margin-bottom: 10px;
}

label {
  display: inline-block;
  width: 45%;
}

body, input {
  font-family: sans-serif;
}


div{
    width: max-content; height: 100%;
    border: 10px double black;
    margin: 0 auto;
	background-color:black;
	
}


.boton1{
    background-color: white;
	color: black;
	border: 2px solid #e7e7e7;
    border-radius:5px 0 0 0;
	width: 30%;
	padding: 1%;
}

.boton1:hover {
  background-color: #008CBA;
  color: white;
}
.boton2{
    background-color: white; 
	color: black; 
	border: 2px solid #008CBA;
    border-radius:5px 0 0 0;
	width: 30%;
	padding: 1%;

}
.boton2:hover {
	background-color: #e7e7e7;}
.boton3{
    background-color: white; 
	color: black; 
	border: 2px solid #4CAF50;
    border-radius:5px 0 0 0;
	width: 30%;
	padding: 1%;
}
.boton3:hover {
  background-color: #555555;
  color: white;
}

 h1{
	text-align: center;
	border-style: 2px double blue;
	 text-decoration: overline;
  }

